
<div id="container3" style="margin: 0 auto"></div>

<div class="hc-pie3" items="main.ideas"></div><br><br><br>



<div id="Answer" style="overflow:scroll; height:200px; width:600px">
<p ><b>Purpose:</b><br>
<ul>
	<li>Display Login activites of different users with time</li>
	<li>Compare Login interest of different users!</li>
	<li>View the login count of a particular user on a particular day</li>
</ul>

<b>Analytics</b><br><br>
From the graph it can be clearly inferred the login activities of different users, which can be used to analyze which users are most active on the page. We can also select/deselect a user and compare the login activity of a particular user with all the remaining users.<br><br>
<b>Interactions</b><br>
<ul>
	<li>Hover:  Display the login count of a particular user at pariculat point in time.</li>
	<li>click: Clicking on usernames would display the data of only the selected users login with respect to time. We can hide select login pattern of any user</li>
</ul>

<b>Steps to find results</b><br>
<ul>
	<li>From the chart it is clear which user has most login on a particular date</li>
	<li>On Hovering the graph any node in the graph we can note the number of times that user has logged in on a particular date</li>
	<li>Click on the username in the graph to view only the pattern of few users.</li>
	<li>Enabale/Disable a particular user to view his login activity versus all the other users.</li>
</ul>

<b>Why does it matter?</b><br>
<li>To compare how frequently the user logs in to the application</li>
<li>To understand the pattern of variation of login among the users.</li>
<li>To compare users login activity with other users for predictive modeling.</li>

</p><br><br>

</p><br><br>



</div><br><br><br><br>

<div id="container5" style="margin: 0 auto"></div>
<div class="hc-pie5" items="main.ideas"></div><br><br><br>
<div id="Answer" style="overflow:scroll; height:150px; width:500px"><br><br>
<p><b>The above chart displays the tags frequently visited by the users in the form of word cloud.
From this we can visualize  and analyze what are the most frequently visited tags by the user on stack overflow page.</b></p>

<br><br> <br>

	
